<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.garmin-sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/uv</string>
        <string>run</string>
        <string>garmin</string>
        <string>sync</string>
        <string>--days</string>
        <string>10</string>
    </array>
    <key>WorkingDirectory</key>
    <string>REPLACE_WITH_PROJECT_PATH</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>REPLACE_WITH_PROJECT_PATH/deploy/sync.log</string>
    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_PROJECT_PATH/deploy/sync.log</string>
</dict>
</plist>
